---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import StatsBar from "../components/StatsBar.astro";
import GameSection from "../components/GameSection.astro";
import Footer from "../components/Footer.astro";
import { games, stats } from "../data/game";

const popular = games.slice(0, 6);
const accion = games.filter((g) => g.genre === "accion");
const aventura = games.filter((g) => g.genre === "aventura");
const deportes = games.filter((g) => g.genre === "deportes");
const lucha = games.filter((g) => g.genre === "lucha");
const rpg = games.filter((g) => g.genre === "rpg");
---

<Layout title="The QuackZone">
  <Header username="Cristian" cartCount={3} />
  <main class="max-w-7xl mx-auto px-4 pt-20 pb-16">
    <div class="mt-6 mb-10">
      <HeroSection
        badge="DESTACADO"
        title="Call of Duty:"
        subtitle="Black Ops 6"
        price="59.99"
        originalPrice="79.99"
        discount="-25%"
      />
    </div>

    <div class="mb-10">
      <StatsBar stats={stats} />
    </div>

    {
      popular.length > 0 && (
        <GameSection title="🔥 Juegos Populares" games={popular} />
      )
    }
    {accion.length > 0 && <GameSection title="⚔️ Acción" games={accion} />}
    {
      aventura.length > 0 && (
        <GameSection title="🗺️ Aventura" games={aventura} />
      )
    }
    {
      deportes.length > 0 && (
        <GameSection title="⚽ Deportes" games={deportes} />
      )
    }
    {lucha.length > 0 && <GameSection title="🥊 Lucha" games={lucha} />}
    {rpg.length > 0 && <GameSection title="🎭 RPG" games={rpg} />}
  </main>

  <Footer />
</Layout>
